:root {
  /* Catppuccin Mocha */
  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-blue: #87b0f9;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-text: #c6d0f5;
  --ctp-mocha-subtext1: #b3bcdf;
  --ctp-mocha-subtext0: #a1a8c9;
  --ctp-mocha-overlay2: #8e95b3;
  --ctp-mocha-overlay1: #7b819d;
  --ctp-mocha-overlay0: #696d86;
  --ctp-mocha-surface2: #565970;
  --ctp-mocha-surface1: #43465a;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-mantle: #181825;
}

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: var(--ctp-mocha-base);
}

.main-wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text);
}

.main-div {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: var(--ctp-mocha-mantle);
  padding: 10px;
  max-width: 760px;
  min-width: 350px;
  overflow: auto;
  margin: 10px;
}

.h1-mobile {
	display: none;
}

.h2-header {
  margin-left: 13px;
}

.h3-header {
  margin-left: 13px;
}

.p-header {
  margin-left: 41px;
}

.list-class {
  margin-left: 10px;
}

header {
  text-align: center;
  line-height: 12px;
  padding: 9px;
}

hr {
  border-top: 4px solid var(--ctp-mocha-overlay1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 3px;
}

a:link {
  color: var(--ctp-mocha-sky);
}

a:visited {
  color: var(--ctp-mocha-red);
}

a:hover {
  color: var(--ctp-mocha-peach);
}

a:active {
  color: var(--ctp-mocha-teal);
}

.emoji {
  height: 2em;
  width: 2em;
  vertical-align: middle;
  display: inline;
}

code {
  background-color: var(--ctp-mocha-surface0);
  padding: 1px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  display: inline;
}

@media (max-width: 450px) {
  .h1-mobile {
    display: block;
  }
  .h1-desktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .main-wrapper {
    background: var(--ctp-mocha-mantle);
  }
  .main-div {
    box-shadow: none;
  }
  hr {
    border-top: 3px solid var(--ctp-mocha-surface1);
  }
}

@media (max-height: 650px) {
  .h1-mobile {
    display: none;
  }
  .h1-desktop {
    display: none;
  }
  hr {
    display: none;
  }
}
